.nomeRestaurante {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }

  .infoRestaurante{
    color: #000;
    text-align: start;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
  }