.faixa {
    background-image: url('/images/eatsy-faixa.jpg');
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
    padding: 80px;
    position: relative;
  }
  
  .faixa::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0);
  }
  
  .faixa h2,
  .faixa p {
    color: rgb(0, 0, 0);
    font-weight: bold;
    max-width: 400px;
    text-align: left;
    margin: 0 auto 0 0;
  }